<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV/Resume</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>
    <div class="header">
        <!-- Left Section: Name and Title -->
        <div class="title">
            <h1>Arman Ryan Mehzad</h1>
            <p>Graduate Student Researcher at Ohio State University</p>
        </div>

        <!-- Right Section: Navigation -->
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'research_page' %}">Research</a>
            <a href="{% url 'publications_page' %}">Publications</a>
            <a href="{% url 'cv_page' %}">CV/Skills</a>
            <a href="{% url 'contact_page' %}">Contact</a>
        </nav>
    </div>

    <!-- Black bar separator -->
    <div class="separator"></div>
<body>
    <p>This is my CV/resume page.</p>
</body>
</html>